{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="profile-avatar">
{% load static %}

        <img src="{% static profile.avatar|cut:'main_app/static/'%}" alt="Avatar" width='150' height='150' />
    </div>
    <div class="profile-username">
        <h1>{{user.username}}</h1>

    </div>

    <div class="profile-score">
        <p>Score: {{profile.score}}</p>
    </div>

    <div class="profile-rank">
        {% if profile.current_rank %}
            <p>Rank: {{ profile.current_rank }} </p>
        {% else %}
            <p>Rank: Unranked </p>
        {% endif %}
    </div>

{% endblock %}
