{% extends "base.html" %}
{% load static %}
{% block content %}

  {% if object %}
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
  {% else %}
    <h1>Add Plan</h1>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

    <h4>Quest Details</h4>
    <table>
      {{ form.as_table }}
    </table>

    <hr>

    <h4>Tasks ( <span id="task-count">0</span> )</h4>

    {{ task_formset.management_form }}

    <div id="tasks-container">
      {% for tform in task_formset %}
        <div class="task-card">
          {{ rform.id }}

          <div class="task-card__header">
            <div class="task-title">Task {{ forloop.counter }} </div>

            <label class="importance-pill">
              {{ tform.importance }}
              <span class="importance-pill__ui">
                <span class="star" >★</span>
                Important
              </span>
            </label>
          </div>

          <div class="task-grid">
            <div class="field">
              <label>{{ tform.name.label }}</label>
              {{ tform.name }}
              {% if tform.name.errors %}
                <div class="err"></div>
              {% endif %}
            </div>

            <div class="field">
              <label>{{ tform.name.label }}</label>
              {{ tform.name }}
              {% if tform.name.errors %}
                <div class="err">{{ tform.name.errors }}</div>
                {% endif %}
            </div>

            <div class="field">
              <label>{{ tform.duration.label }}</label>
              {{ tform.duration }}
              {% if tform.duration.errors %}
                <div class="err">{{ tform.duration.errors }}</div>
              {% endif %}
            </div>

            <div class="field">
              <label>{{ tform.color.label }}</label>
              {{ tform.color }}
              {% if tform.color.errors %}
                <div class="err">{{ tform.color.errors }}</div>
              {% endif %}
            </div>

            <div class="field field--full">
              <label>{{ tform.notes.label }}</label>
              {{ tform.notes }}
              {% if tform.notes.errors %}
                <div class="err">{{ tform.notes.errors }}</div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="empty-form" style="display: none;">
      <div class="task-card">
        {{ task_formset.empty_form.id }}

        <div class="task-card__header">
          <div class="task-title">New Task</div>

          <label class="importance-pill">
            {{ task_formset.empty_form.importance }}
            <span class="importance-pill__ui">
              <span class="star">★</span>
              Important
            </span>
          </label>
        </div>

        <div class="task-grid">
          <div class="field">
            <label>{{ task_formset.empty_form.name.label }}</label>
            {{ task_formset.empty_form.name }}
          </div>

          <div class="field">
            <label>{{ task_formset.empty_form.duration.label }}</label>
            {{ task_formset.empty_form.duration }}
          </div>

          <div class="field">
            <label>{{ task_formset.empty_form.color.label }}</label>
            {{ task_formset.empty_form.color }}
          </div>

          <div class="field field--full">
            <label>{{ task_formset.empty_form.notes.label }}</label>
            {{ task_formset.empty_form.notes }}
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn" id="add-task-btn"> + Add Task </button>

    <br><br>

    <input type="submit" value="Submit" class="btn">
  </form>

  <script>
    const maxTasks = 10;
    const tasksContainer = document.getElementById("tasks-container");
    const addBtn = document.getElementById("add-task-btn");
    const totalFormsInpt = document.getElementById("id_task_set-TOTAL_FORMS");
    const countEle = document.getElementById("task-count");
    const emptyForm = document.getElementById("empty-form").innerHTML;

    const updateCount = () => {
      countEle.textContent = totalFormsInpt.value;
    };

    addBtn.addEventListener("click", () => {
      const currCount = Number(totalFormsInpt.value)

      if (currCount >= maxTasks) return;

      const newForm = emptyForm.replaceAll("__prefix__", currCount);

      // this method adds the task in the page
      tasksContainer.insertAdjacentHTML("beforeend", newForm);

      totalFormsInpt.value = currCount + 1;

      updateCount();
    });

    updateCount();
  </script>

  {% endblock %}
